.dashboard {
  padding: 20px;
  width: 100%;
  &-header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 20px;
    .flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .Avatar{
      padding-left: 30px;
    }
  }
  &-subbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 15px;
  }
  h2 {
    margin: 0px;
  }
  &-wrapper {
    overflow: auto;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 900px;
  }
  .task-wrapper {
    width: 300px;
    margin: 3px 6px;
  }
}
