.task-card-container {
    padding: 5px 0;
    .title, .date {
        font-size: 16px;
        font-weight: bold;
        font-family: arial;
        color: #65676D;
    }
    .title {
        height: 48px;
    }
    .date {
        font-size: 14px;
    }
}