.dashboard {
  padding: 20px;
  width: 100%;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 20px;
  }
  &-wrapper {
    overflow: auto;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 900px;
  }
  .task-wrapper {
    width: 300px;
    margin: 3px 6px;
  }
}
