.header{
  display: flex;
  background-color: white;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
  height: 60px;
  .header-left h1{
    font-family: arial;
    font-weight: bold;
    margin-left:	20px;
    margin-top: 10px;
    align-items: center;
  }
  .header-center{
    margin: 0 auto;
    //margin-left:	400px;
    display: flex;
    align-items: center;
  }
  .header-right{
    align-items: center;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    display: flex;
  }
}


@media only screen and (max-width: 550px) {
  .header .header-center button{
      display: none;
  }
}
 
 


