.app {
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}

.home-container {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: rgb(240, 240, 240);
}
