.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    background-color: #f8f8f8;
    .login-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        height: 100%;
        max-height: 450px;
        border: 1px solid #dadada;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 11px 1px #b1b1b1;
        background-color: rgb(255, 255, 255);
        .image-wrapper, .btn-wrapper {
            display: flex;
            justify-content: center;
        }
        .image-wrapper {
            padding: 10px;
            margin: 20px;
        }
    }
}